{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1>Roosevelt Park Neighborhood Association</h1>

{% if spanish %}

    <p>{{ event.message_spanish }}</p>

    {% if event.link_spanish %}
    <a class="btn btn-primary" href="{{ event.link_spanish }}">Lee mas</a>
    {% endif %}

    <a class="btn btn-outline-secondary" href="{% url 'rpna:setup' %}">Cambiar preferencias</a>

{% else %}

    <p>{{ event.message_english }}</p>

    {% if event.link_english %}
    <a class="btn btn-primary" href="{{ event.link_english }}">Read more</a>
    {% endif %}

    <a class="btn btn-outline-secondary" href="{% url 'rpna:setup' %}">Change preferences</a>

{% endif %}

{% endblock main %}
