{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

{% if spanish %}

    <h1>{{ event }}</h1>

    <p>{{ event.message_spanish }}</p>

    {% if event.link_spanish %}
    <a class="btn btn-primary" href="{{ event.link_spanish }}">Lee mas</a>
    {% endif %}

    <a class="btn btn-secondary" href="{% url 'rpna:setup' %}">Configurar alertas</a>

{% else %}

    <h1>{{ event }}</h1>

    <p>{{ event.message_english }}</p>

    {% if event.link_english %}
    <a class="btn btn-primary" href="{{ event.link_english }}">Read more</a>
    {% endif %}

    <a class="btn btn-secondary" href="{% url 'rpna:setup' %}">Configure alerts</a>

{% endif %}

{% endblock main %}
